body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(223, 223, 223);
}

* {
    color: black !important;
}

.btn {
    color: white !important;
}

.form-control {
    box-shadow: none !important;
    border: none !important;
}

.form-control:focus-visible {
    outline: 2px solid rgb(17, 17, 17);

}

.likesCount {
    cursor: pointer;
}


.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navbar-toggler {
    border: none;
    box-shadow: 0 0 5px rgb(192, 192, 192) !important;
}

.navbar-brand img {
    width: 20px;
    margin-bottom: 10px;
}

main {
    min-height: 100dvh;
}

.blogList {
    padding: 0 10px;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    border: none;
}

.card-img-top {
    width: 100%;
    height: 20rem;
}

.likesCount {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.likesCount img {
    width: 1.5rem;
    margin-bottom: 10px;
}



.card-button {
    width: 100%;
    border-radius: 20px;
}

footer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(248 249 250);
}

@media (max-width: 1024px) {
    .card-img-top {
        height: 15rem;

    }

}

@media (max-width: 420px) {
    .card-img-top {
        height: 10rem;

    }

}